<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Foodson | Cadastrar Pessoa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="img/India_Map.png" />
<link rel="stylesheet" type="text/css" media="screen"
	href="css/cadastro.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="css/principal.css">
<script src="script/jquery.js"></script>
<script src="script/jquery.mask.min.js"></script>
<script>
	$(document).ready(function() {
		$("#cpf_cad").mask("000.000.000-00")
	})
</script>
</head>
<body>
	<div id="contenty">
		<div id="menu">
			<div class="menu-item" id="inicio">
				<a href="/index" class="menu-txt">🏠 INICIO</a>
			</div>
			<div sec:authorize="hasAnyRole('ADMIN')" class="menu-item"
				id="addPrato">
				<a href="/cadastroPrato" class="menu-txt">🍝 ADICIONAR PRATO</a>
			</div>
			<div class="menu-item" id="listaPratos">
				<a href="/listarPratos" class="menu-txt">📝 LISTA DE PRATOS</a>
			</div>
			<div sec:authorize="hasAnyRole('USER')" class="menu-item" id="cesta">
				<a href="/cesta" class="menu-txt">🛒 CESTA</a>
			</div>
			<div sec:authorize="hasAnyRole('USER')" class="menu-item" id="cesta">
				<a href="/historico" class="menu-txt">📜 HISTORICO</a>
			</div>
			<div sec:authorize="isAnonymous()" class="menu-item" id="entrar">
				<a href="/login" class="menu-txt">🙌 ENTRAR</a>
			</div>
			<div sec:authorize="isAnonymous()" class="menu-item" id="entrar">
				<a href="/cadastroPessoa" class="menu-txt">👶 CADASTRAR-SE</a>
			</div>
			<div sec:authorize="isAuthenticated()" class="menu-item" id="sair">
				<a href="/logout" class="menu-txt">👋 SAIR</a>
			</div>
			<hr>
		</div>
		<br> <br>
		<div class="container">
			<a class="links" id="paracadastro"></a>
			<!-- 		 <a class="links" -->
			<!-- 			id="paralogin"></a> -->

			<div class="content">
				<!-- 			<!--FORMULÁRIO DE LOGIN-->
				-->
				<!-- 			<div id="login"> -->
				<!-- 				<form method="post" action=""> -->
				<!-- 					<h1>Login</h1> -->
				<!-- 					<p> -->
				<!-- 						<label for="email_login">Seu e-mail</label> <input -->
				<!-- 							id="email_login" name="email_login" required="required" -->
				<!-- 							type="text" placeholder="contato@exemplo.com" /> -->
				<!-- 					</p> -->

				<!-- 					<p> -->
				<!-- 						<label for="senha_login">Sua senha</label> <input id="senha_login" -->
				<!-- 							name="senha_login" required="required" type="password" -->
				<!-- 							placeholder="12345" /> -->
				<!-- 					</p> -->

				<!-- 					<p> -->
				<!-- 						<input type="submit" value="Logar" /> -->
				<!-- 					</p> -->

				<!-- 					<p class="link"> -->
				<!-- 						<a href="index" style="margin-right:15px;">Voltar ao site</a> Ainda não tem conta? <a href="#paracadastro">Cadastre-se</a> -->
				<!-- 					</p> -->
				<!-- 				</form> -->
				<!-- 			</div> -->

				<!--FORMULÁRIO DE CADASTRO-->
				<div id="cadastro">
					<form method="post" action="/salvarPessoa">
						<h1>Cadastro</h1>

						<p>
							<label for="nome_cad">Seu nome</label> <input id="nome_cad"
								name="nome" required="required" type="text"
								placeholder="Fulano de Tal" />
						</p>

						<p>
							<label for="email_cad">Seu e-mail</label> <input id="email_cad"
								name="email" required="required" type="email"
								placeholder="contato@exemplo.com" />
						</p>

						<p>
							<label for="senha_cad">Sua senha</label> <input id="senha_cad"
								name="senha" required="required" type="password"
								placeholder="12345" />
						</p>
						<p>
							<label for="endereco_cad">Seu Endereço</label> <input
								id="endereco_cad" name="endereco" required="required"
								type="text" placeholder="Rua Manoel Garrincha" />
						</p>
						<p>
							<label for="cpf">Seu CPF</label> <input id="cpf_cad" name="cpf"
								required="required" type="text" placeholder="555.555.555-55" />
						</p>
						<p>
							<label for="nascimento">A data em que nasceu</label> <input
								id="nascimento_cad" name="nascimento" required="required"
								type="date" max="2015-01-01" />
						</p>
						<p>
							<input type="submit" value="Cadastrar" />
						</p>

						<p class="link">
							<a href="index" style="margin-right: 15px;">Voltar ao site</a> Já
							tem conta? <a href="/login"> Ir para Login </a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>